Mostly on Sundays (with some additional sessions on other days)<br>
<br>
<b>Intro to HPC lesson</b><br>
New links: <br>
<a href="http://www.learnhpc.eu/2021-02-hpc-intro/">http://www.learnhpc.eu/2021-02-hpc-intro/</a><br>
<a href="https://carpentries-incubator.github.io/hpc-intro/">https://carpentries-incubator.github.io/hpc-intro/</a><br>
Old link: <del> <a href="https://hpc-carpentry.github.io/hpc-intro/">https://hpc-carpentry.github.io/hpc-intro/</a></del><br>
<br>
<b>Terminal fundamentals for HPC users</b><br>
<a href="https://hpc-carpentry.github.io/hpc-shell/">https://hpc-carpentry.github.io/hpc-shell/</a><br>
<br>
<b>Version Control with Git</b><br>
<a href="http://swcarpentry.github.io/git-novice/">http://swcarpentry.github.io/git-novice/</a><br>
<br>
<b>Text Processing and Parallel Processing</b><br>
<a href="https://deapsecure.gitlab.io/deapsecure-lesson01-hpc/">https://deapsecure.gitlab.io/deapsecure-lesson01-hpc/</a><br>
GNU Parallels, SLURM<br>
<br>
<b>HPC Python</b><br>
<a href="https://hpc-carpentry.github.io/hpc-python/">https://hpc-carpentry.github.io/hpc-python/</a><br>
<br>
<b>HPC Parallelisation For Novices</b><br>
<a href="http://www.hpc-carpentry.org/hpc-parallel-novice/">http://www.hpc-carpentry.org/hpc-parallel-novice/</a><br>
<br>
<b>Parallel Programming in Python</b><br>
<a href="https://carpentries-incubator.github.io/lesson-parallel-python/">https://carpentries-incubator.github.io/lesson-parallel-python/</a><br>
<br>
<b>HPC Chapel</b><br>
<a href="https://hpc-carpentry.github.io/hpc-chapel/">https://hpc-carpentry.github.io/hpc-chapel/</a><br>
